<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Metalevents</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarContent"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      id="navbarContent"
    >
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          ngbDropdown>
          <a
            class="nav-link"
            style="cursor: pointer"
            ngbDropdownToggle
          >
            Events
          </a>

          <div ngbDropdownMenu class="dropdown-menu">
            <a ngbDropdownItem routerLink="/events">
              Events
            </a>
            <a ngbDropdownItem href="#">
              Event Calendar
            </a>
            <a *ngIf="currentUser"
              ngbDropdownItem
              [routerLink]="['events', 'new']">
              New Event
            </a>
          </div>
        </li>
        <li
          *ngIf="currentUser?.admin"
          class="nav-item"
          routerLinkActive="active"
          ngbDropdown>
          <a
            class="nav-link"
            style="cursor: pointer"
            ngbDropdownToggle
          >
            Venues
          </a>

          <div ngbDropdownMenu class="dropdown-menu">
            <a
              ngbDropdownItem
              [routerLink]="['/venues']">
              Venues
            </a>
            <a
              ngbDropdownItem
              [routerLink]="['venues', 'new']">
              New Venue
            </a>
          </div>
        </li>
        <li *ngIf="!currentUser?.admin"
          class="nav-item"
          routerLinkActive="active">
          <a routerLink="/venues" class="nav-link">Venues</a>
        </li>
        <li *ngIf="currentUser?.admin"
          class="nav-item"
          routerLinkActive="active">
          <a routerLink="/users" class="nav-link">Users</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="currentUser">
        <li
          class="nav-item"
          routerLinkActive="active"
          ngbDropdown>
          <a
            class="nav-link"
            style="cursor: pointer"
            ngbDropdownToggle
          >
            {{ currentUser.name }}
          </a>

          <div ngbDropdownMenu class="dropdown-menu">
            <a ngbDropdownItem
              [routerLink]="['/profile']">
              Profile
            </a>
            <a
              style="cursor: pointer"
              ngbDropdownItem
              (click)="onLogout()">
              Log Out
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!currentUser">
        <li class="nav-item">
          <a
            routerLink="/auth/login"
            class="nav-link">Log In</a>
        </li>
        <span class="navbar-text">|</span>
        <li class="nav-item">
          <a
            routerLink="/auth/signup"
            class="nav-link">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
