<div class="row justify-content-center" *ngIf="error">
  <div class="col-6 alert alert-danger">
    {{error}}
  </div>
</div>

<div class="row justify-content-center" *ngIf="message">
  <div class="col-6 alert alert-info">
    {{message}}
  </div>
</div>

<div class="row justify-content-center" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="row justify-content-center" *ngIf="!isLoading">
  <div class="col-6">
    <div class="row justify-content-center">
      <h3>Password Reset</h3>
    </div>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control">
      </div>
      <span class="error-text" *ngIf="passwordResetForm.invalid && passwordResetForm.touched">
        Malformed email
      </span>
      <div>
        <button
          class="btn btn-primary"
          [disabled]="passwordResetForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
