<div class="row">
  <div class="col-12">
    <div class="row justify-content-center">
      <h3 *ngIf="editMode">Edit Event</h3>
      <h3 *ngIf="!editMode">New Event</h3>
    </div>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          formControlName="description"
          class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="text"
          id="date"
          formControlName="date"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <select formControlName="venue_id" class="form-control">
          <option
            *ngFor="let venue of venues"
            [value]="venue.id"
            class="form-control">
            {{venue.name}}
          </option>
        </select>
      </div>

      <button *ngIf="editMode"
        class="btn btn-success"
        type="submit"
        [disabled]="eventForm.invalid"
        >Update</button>
      <button *ngIf="!editMode"
        class="btn btn-success"
        type="submit"
        [disabled]="eventForm.invalid"
        >Save</button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="onCancel()"
        >Cancel</button>
    </form>
  </div>
</div>
